

html,body,#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #f4f4f4;
}
.app-wrapper
{
    font-family: Arial, sans-serif;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container 
{
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    color:#333;
}

.form-group input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#loginBtn,
#createUserBtn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

/*Login button */
#loginBtn{
    background: #b7931e;
    color: white;
}

#loginBtn:hover {
    background: #b7931e;
}

/* Create new user button*/
#createUserBtn {
    background: #d3820a;
    color: white;
}

#createUserBtn:hover {
    background: #d3820a;
}

#forgotPassword 
{
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
    }

#forgotPassword:hover 
{
    text-decoration: underline;
    cursor: pointer;
}

#message 
{
    margin-top: 15px;
    text-align: center;
    color: red;
}

/* New user page button */
#createAccountBtn {
    background: #FF9800;
    color: white;
}
#createAccountBtn:hover {
    background: #FB8C00;
}

/* Success messages */
#message.success {
    color: green;
    font-weight: bold;
}

/* Forgot Password button */
#forgotPasswordBtn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    background: 
    #cb9e0a;
    color: white;
}
#forgotPasswordBtn:hover {
    background: #99ce14;
}

/* logo*/
.logo {
    display: block;
    margin: 0 auto 20px;
    width: 250px;
    height: auto;
}

back-btn {
  background-color: #e99415;
  color: white;
  padding: 6px 12px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.back-btn:hover {
  opacity: 0.85;
}